*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../img/grass-2616911.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    
    
}
tr {
    background-color: rgba(245, 245, 245, 0.507);
}

#menu {

    height: 7vh;
    width: 98%;
    background: linear-gradient(to left, red,yellow,blue);
    margin: 20px auto;
    text-align: center;
}
#menu h1 {
    padding: 13px;
}
legend{
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    
}
tr:nth-child(1) {
    background-color: grey;
    text-align: center;
}
th:nth-child(5) {
    text-align: center;
}
th,
tr,td {
    border: 1px solid black;
    padding: 3px;
    font-size: 1rem;
}
#anunt {
    position: relative;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    height: 10rem;
    background-color:rgba(255, 255, 255, 0.59);
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: small;
}



footer {
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    height: 6vh;
    background-color: black;
    text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    #anunt {
      
    }

}
@media screen and (min-width: 481px) and (max-width: 768px){
#anunt {
    line-height: 23px;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #anunt {
       
    }
    #anunt {
        line-height: 23px;
    }
    
}
@media screen and (min-width: 1025px) {

    #anunt {
      
        line-height: 23px;
    }

}
